<ion-header>
  <ion-toolbar>
    <ion-title>Update App Version</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll='true'>
  <form [formGroup]='form'>
    <ion-grid class='grid'>
      <ion-row>
        <ion-col>
          <ion-select class='select-box' placeholder="Action" formControlName='action'>
            <ion-select-option value="create">Create</ion-select-option>
            <ion-select-option value="update">Update</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.controls.action.value === 'update'">
        <ion-col>
          <ionic-selectable class='select-box' placeholder="App Type" formControlName='appType' [items]="appList"
            itemValueField="id" itemTextField="name" [canSearch]="true">
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.controls.action.value === 'create'">
        <ion-col>
          <ion-input class='input-box' placeholder="App Name" formControlName='appName'></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.controls.action.value">
        <ion-col>
          <ion-input class='input-box' placeholder="Version Number" formControlName='version'></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <form [formGroup]='form'>
    <ion-grid>
      <ion-row *ngIf="form.controls.action.value === 'create'">
        <ion-col>
          <ion-button [disabled]='!form.valid' (click)='addAppVersion()' color="secondary" expand="full" shape='round'>
            Add New App</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.controls.action.value === 'update'">
        <ion-col>
          <ion-button [disabled]='!form.valid' (click)='updateVersion()' color="primary" expand="full" shape='round'>
            Update Version</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>