<ion-header>
  <ion-toolbar>
    <ion-title>Link Unlink Admin Branch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll='true'>
  <form [formGroup]='form'>
    <ion-grid class='grid'>
      <ion-row>
        <ion-col>
          <ion-select class='select-box' placeholder="Action" formControlName='action'>
            <ion-select-option value="create">Link Branch</ion-select-option>
            <ion-select-option value="unlink">Unlink Branch</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ionic-selectable class='select-box' placeholder="Pick a Restaurant (Optional)" formControlName='adminId'
            [items]="adminList" itemValueField="id" itemTextField="name" [canSearch]="true">
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ionic-selectable class='select-box' placeholder="Restaurant Branch List" formControlName='restaurantList'
            [items]="restaurantList" [isMultiple]="true" itemValueField="id" itemTextField="name" [canSearch]="true">
          </ionic-selectable>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <form [formGroup]='form'>
    <ion-grid>
      <ng-container *ngIf="form.value.action === 'create'">
        <ion-row>
          <ion-col>
            <ion-button [disabled]='!form.valid' (click)='createBranch()' color="primary" expand="full" shape='round'>
              Link Branch</ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="form.value.action === 'unlink'">
        <ion-row>
          <ion-col>
            <ion-button [disabled]='!form.valid' (click)='unlinkBranch()' color="secondary" expand="full" shape='round'>
              Unlink Branch</ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </form>
</ion-footer>