@import '../../../theme/colors.scss';

.grid {
  margin: 1em 1em;
}

.input-box {
  border-bottom: 1px solid $GREY_BORDER_LINE;
  padding-left: 0 !important;
}

.select-box {
  border-bottom: 1px solid $GREY_BORDER_LINE;
  padding-left: 0.5em !important;
}