$GRADIENT_TOP: #ff9566;
$GRADIENT_BOTTOM: #ff7f65;
$GRADIENT_LIGHT: #fcded7;
$GRADIENT_LIGHT_DARKER: #ffaa99;
$GREY_BODY_BACKGROUND: #F3F3F3;
$GREY_ICON_WHITE: #c7c7c7;
$GREY_ICON_WHITE_DARKER: #8e8e8e;
$GREY_ICON_GREY: #787878;
$GREY_TEXT_WHITE: #a0a0a0;
$GREY_TEXT_WHITE_DARKER: #636363;
$GREY_TEXT_GREY: #787878;
$GREY_LINE_GREY: rgb(215, 215, 215);
$GREY_BORDER_LINE: #dedede;
$GREY_SEARCHBAR: #F3F3F3;
$GREY_SEARCHBAR_ACTIVE: #e8e8e8;
$GREY_GRAB_BUTTON: #c4c1c1;
$RED_DOT: #ff3a3a;
$ORANGE_ICON: #ff9266;
$ORANGE_ICON_SHADOW: #ff9466;
$YELLOW_ICON: #ffcc00;
$YELLOW_ICON_SHADOW: #ffde26;
$GREEN_ICON: #0be800;
$GREEN_ICON_SHADOW: #17994b;
$BLUE_ICON: #1000e1;
$BLUE_ICON_SHADOW: #3022e5;
$WECHAT_GREEN: #00AF00;
$WECHAT_GREEN_TOP: #00da00;
$WECHAT_GREEN_BOTTOM: #00c901;
$WECHAT_GREEN_SHADOW: #00d600;
$ALIPAY_BLUE: #00A0E8;
$ALIPAY_BLUE_TOP: #07a6ea;
$ALIPAY_BLUE_BOTTOM: #0791e9;
$ALIPAY_BLUE_SHADOW: #0796e9;
$CASH_YELLOW_TOP: #fdb900;
$CASH_YELLOW_BOTTOM: #fd8f00;
$CASH_YELLOW_SHADOW: #fda400;
$LINE_GREEN: #00c300;
$RED_BADGE_TOP: #f86c60;
$RED_BADGE_BOTTOM: #eb4434;
$RED_BADGE_SHODOW: #f85032;
$GREY_BUTTON_INACTIVE: #d8d8d8;
$GREY_SKELETON: #f0f0f0;
$GREY_SKELETON_SHADOW: #bdbdbd;